# path: .gitignore
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Env
.env
.env.*
!.env.example
!.env.template
!.env.sample

# Tooling
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# OS
.DS_Store

